*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body {
    background-image: url("https://1.bp.blogspot.com/-sTxAHAxirGM/WVbAe2098nI/AAAAAAABENs/_I5sYMYgLOUzaIE7FfF4qdGX-hoAkq9SgCLcBGAs/s1600/Blog_20170624_113552.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.top-menu
{
    background-color: rgb(50, 250, 223);
    text-align: center;
    
}
.top-menu ul 
{
   display: inline-flex;
   list-style: none;
   color: fff;
}
.top-menu ul li
{
    margin: 10px;
    width: 120px;
    padding: 10px;
    color: aliceblue;

}
.top-menu ul li a
{
    text-decoration: none;
    color: royalblue;
}
.active,.top-menu ul li:hover
{
    background-color: rgb(115, 248, 6);
    border-radius: 3px;
}
.sub-menu-1
{
    display: none ;
}
.top-menu ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: rgb(59, 236, 59);
    margin-top: 15px;
    margin-left: -15px;
}
.top-menu ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.top-menu ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}